<%- include('../partials/head') -%>

<%- include('../partials/navbar') -%>

    <main>
        <section>

            <h1>Reviews</h1> 
                <!-- <h3>Categories</h3>
                <p>You can view reviews based on the categories. It's just one click away!</p>
                <div class="category-links">
                    <div>
                        <a href="/category-food">Eats</a>
                    </div>
                    <div>
                        <a href="/category-retail">Retail Therapy</a>
                    </div>
                </div> -->
                <p>In order to create a review or add a business, you must log into your account or create an account.</p>
                
                <div class="button-center">
                    <button class="reviews-button"><a href="/login">Login or Create an Account</a></button>
                </div>

        </section>

        <hr>

        <section class="gallery-flex">
            <!-- <div class="gallery">
                <img src="/img/slutty-vegan.jpeg" alt="a slutty vegan meal displayed on a wooden table with a red slutty vegan sign in the background">
                <img src="/img/slutty-vegan-arm.jpg" alt="an arm holding a sandwich in front of a red slutty vegan sign">
                <img src="/img/pinky-hold-sandwich.jpeg" alt="a person with red dreadlocks holding a slutty vegan sandwich that is dripping sauce or cheese">
            </div> changing the format of project and turning gallery into cards -->
            <% for (review of reviewArray) { %>
                <div class="gallery-desc">
                    <span>
                        <h2><%= review.business_name %></h2>
                        <p><%= review.business_address %></p>
                        <p><a href="<%= review.website %>">Website</a></p>
                <hr id="hr-reviews"> 
                        <p>Rating: <%= review.rating %> stars</p>
                        <p>"<%= review.review_title %>"</p>
                        <p>"<%= review.review_blurb %>"</p>
                        <p>Recommend: <%= review.recommend %></p>
                    </span>
                
                </div>
            <% } %>
        </section> 

    </main>
 
<%- include('../partials/footer') -%>